.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 40px;
    border-style: none none solid none;
    border-bottom-color: #38384F;
    border-bottom-width: 1px;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

.menu-planet {
    color: white;
    opacity: 75%;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 33px;
    font-size: 11px;
    letter-spacing: 1px;
}


.header-toggle span{
    display: none;
    overflow: hidden;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    
    z-index: 1;
        
}

.title {
    color: white;
    font-size: 30px;
}

.mobile-button-container{
    display: none;
}

/*tablet styles*/
@media (min-width: 481px) and (max-width: 800px) {
    .menu-container {
        margin-right: 33px;
    }
    .menu-planet {
        margin-top: 30px;
        font-size: 16px;
    }
    .header-container {
        flex-direction: column;
        align-items: center;
    }  
}

/* mobile styles*/
@media (max-width: 480px) {
      .menu-planet {
         display: none;
      }  
      .header-toggle span{
        display: block;
      }

      .header-container {
        padding: 16px 24px;
    }  
      .mobile-button-container {
        display: flex;
        flex-direction: row;
        padding: 20px 24px;
        justify-content: space-between;

        border-style: none none solid none;
        border-bottom-color: #38384F;
        border-bottom-width: 1px;
      }

      .mobile-button {
        color: white;
        opacity: 75%;
        font-size: 14px;
      }

      .mobile-button:nth-child(2) {
        margin: 0 43px 0 43px;
      }
}